@media screen and (max-width: 770px) {
    /*NAVIGATION*/
    .conteiner {
        max-width: 768px;
        margin: 0 auto;
    }
    .header__logo {
        margin-left: 20px;
    }
    .navigation__items {
        display: none;
    }
    .telephone {
        margin-right: 18px;
        padding: 0;
    }
    .accent {
        color: white;
    }

    .button-request {
        display: none;    
    }
    /*MAIN SCREEN   1ST SECTON*/


















}